body { 
	margin:0px 100px 0px 100px; 
	padding:5px; 
	font: 84% Tahoma, Sans-Serif, Arial; 
	color:#111111;  
	line-height: 1.4em; 
}

table {
	margin:15px;
	-moz-border-radius: 10px;
	border-style:none;
	width:auto;
	font: 97% Tahoma, Sans-Serif, Arial; 
}
font.red {
	color:#bf0000;
        font-weight:bold;
	letter-spacing: 1px;
}

.right{
	margin:0px 50px 0px 50px; 
	float:right;
	text-align:right;
}
table th {
	-moz-border-radius: 5px;
	background-color:#597DAF;
	padding:3px; 
}

table td {
	-moz-border-radius: 5px;
	padding:5px; 
	border:solid;
	border-width: 0px 0px 1px 0px;
	border-color: gray;
}

font.nthumb {
	font-size: x-small;
	font-weight: bolder;
	font-style: italic;	
}


table td.nthumb {
	background: url(../images/coming_soon.png) no-repeat center;
	text-align: center;
}

table td.fthumb {
        background: url(../images/failed.png) no-repeat center;
        //vertical-align: baseline;
	text-align: center;
}

table td.xthumb {
	background: url(../images/nolink.png) no-repeat center;
	text-align: center;
}

tbody tr:hover td{
	background-color:  #CDD8E7;
}

.logo{
	height: auto;
//	background: url(../images/gad-bassa.png) no-repeat right;
	margin: 0; padding: 0;
	
}
.logo .title { 
		margin:0px ;
                color: #597DAF;
		text-align:right;
                font: bold 1.1em Arial, sans-serif;
}

input.submit { 
	height: 25px; 
	font-weight: bold; 
	border: thin-solid; 
	background: #2F4583; 
	padding: 3px; 
	color: #CDD8E7; 
	cursor:pointer;
	cursor: hand;
}
input.submit:hover{ outline: thin dotted #BC6247; }

.navigation { 
	margin: 5px 0 0 0;
	-moz-border-radius: 5px;
	clear: both;
	text-align: center;
	color: 	#CDD8E7;
	background : #375EA7;
	padding: 5px 0 5px 0;
}

.center {
        float:top;
        font-size: 95%;
        margin: 15px 0 5px 0;
        padding: 0;
        color: #1111111;
}

.center a { color: #5E6D7E;}

p {
        margin: 10px 10px 5px 15px;
	text-align: Justify;
	font: Tahoma, Sans-Serif, Arial; 
}
li {
        margin: 0px 0px 0px 15px;
	list-style-type: circle; 
	
}
a { 
	color: #111111;
	text-decoration:none;
}

a:hover { 
	outline: thin dotted blue; 
	-moz-border-radius: 3px;
	background: white;
	text-decoration:underline;
	font: bold 1.05em Tahoma, Arial, Sans-Serif; 
}


h2 { 
	font-size:125%; 
	font-weight:bold; 
	margin: 5px 0 5px 0; 
	padding:0; 
}

h3 {
        padding:0;
        margin:0;
        color: #597DAF;
	font-size:97%; 
	letter-spacing: -1px;
}

hr { 
	border: 1px solid #2F4583; 
	margin: 10px 0 10px 0;
}
	
.footer { 
	clear:both;
	width: auto;
	-moz-border-radius: 5px;
	color: #CDD8E7;  
	font-size:90%;
	background: #375EA7;
	text-align:center; 
	margin-top: 30px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 10px 10px 10px 10px;
}


input.text { 
	margin: 0; 
	color: black;  
	width: 110px;
	border: 1px solid #2F4583; 
	background: white;
}

input.text:hover { 
	border: 1px solid #eee; 
}



