<?xml version="1.0"?>
<bassa_conf>
	<!-- Server configuration -->
	<server>
		<server_name>Experimental Offline Downloader</server_name>
		<server_address>192.248.16.157</server_address>
		<server_port>8095</server_port>
		<server_backlog>20</server_backlog>
		<!-- All about number of simultaneous connections -->
		<server_children>
			<!-- This is the maximum number of connections that can be made to the server -->
			<max_children>5</max_children>
			<!-- This is the timeout value of the inactive children -->
			<child_timeout>10</child_timeout>
		</server_children>
		<!-- Keep following if we have a proxy -->
		<server_http_proxy_address>192.248.16.88</server_http_proxy_address>
		<server_http_proxy_port>3128</server_http_proxy_port>
	</server>
	
	<!-- Offline downloader configuration -->
	<downloader>
	    <downloader_notifier>
			<notifier_module>/home/wathsala/noc_filter/src/notifiers/web/.libs/libweb_notifier.so</notifier_module>
			<notification_url>http://192.248.16.88/gadisk/bassa/bscript.php</notification_url>
		</downloader_notifier>
		<downloader_activation_time>
			<!-- This is the way to start downloader every day 6.30PM --> 
			<hours>12</hours>
			<minutes>54</minutes>
			<seconds>0</seconds>
		</downloader_activation_time>
		<downloader_children>
			<!-- Maximum simultaneous downloads -->
			<max_children>3</max_children>
			<!-- Monitor progress of the download in bytes, KBs or MBs against time. Useful for statistics-->
			<monitor_progress>yes</monitor_progress>
			<!-- If first attempt todownload fails within timeout value, we can retry. Give the maximum number of retires below. 3 is default -->
			<max_tries>5</max_tries>
			<!-- If 0 Bytes are downloaded before this value (seconds), we will retry after a while. (until we don't exceed max_tries) -->
			<child_timeout>60</child_timeout>
			<!-- After excedding the max_tries and still we don't have 0 Bytes downloaded we will remove it from the queue forerver and send a notification to the user, if this value is set to yes, opposite will work if this is no -->
			<remove_inactive>yes</remove_inactive>
		</downloader_children>
		<!-- Maximum length of the queue -->
		<downloader_queue_length>1000</downloader_queue_length>
	</downloader>

	<!-- Repository configuration -->
	<repository>
		<!-- Path to the repository -->
		<repository_path>/home/wathsala/noc_filter/data</repository_path>
		<!-- URL prefix, this will be added in front of the file name when repository search is done, please end this value with a /  -->
		<repository_url_prefix>ftp://192.248.16.157/pub/</repository_url_prefix>
	</repository>
	<authentication>
		<user>
			<name></name>
			<!-- Authentication type RSA|AES|DES -->
			<auth_algo>RSA</auth-algo>
			<!-- Authentication key -->
			<auth_key></auth_key>
			<ip_address>192.248.16.251</ip_address>
		</user>
	</authentication>
</bassa_conf>
