.formContainer
{
    background-color: #F5EFC9;
    border:none;
    padding:30px;
    width: 820px;
}
.formContainer h3
{
    margin:0px;
    padding:0px 0px 10px 0px;
    font-size:135%;
}
.rowContainer
{
    width:100%;
    overflow:hidden;
    padding-bottom:5px;
    height:34px;
}
.rowContainer label
{
    width:140px;
    float:left;
    color: #758656;
    font-weight:bold;
}
.rowContainer input[type="text"]
{
    width:200px;
}
.tooltipContainer
{
    height:16px;
    font-size:11px;
    color: #666666;
    display:none;
    float:none;
    background-repeat:no-repeat;
    background-position:left center;
    padding:0px 20px;
}
.info
{
    background-image:url('../images/info.gif');
}
.error
{
    background-image:url('../images/error.gif');
    color: #990000;
}
h1 {color: #99723b;
    font-size: 25px;
    font-family: "Lucida Fax","Georgia", "Times", "Times New Roman", "Helvetica", "Verdana";
    font-weight:normal; margin:0; padding:0;
}
a {color: #62791d; 
   text-decoration:none;
}
.grey {color: #999999; 
   text-decoration:none;
}
a:hover {
    text-decoration: none;
    text-decoration:underline;
}
a.img:hover {background-color: #ffffff;}